{% extends 'base.html' %}
{% block content %}
<h1>Category: {{ category }}</h1>
<a href="{{ url_for('upload_file', category=category) }}" class="btn btn-success mb-3">Upload Photo</a>
<a href="{{ url_for('download_category', category=category) }}" class="btn btn-primary mb-3">Download All Photos</a>
<div class="row">
    {% for image in images %}
    <div class="col-md-3">
        <div class="card mb-3">
            <img src="{{ url_for('uploaded_file', filename=category + '/thumbnail/' + image) }}" class="card-img-top" alt="{{ image }}">
            <div class="card-body">
                <h5 class="card-title">{{ image }}</h5>
                <a href="{{ url_for('uploaded_file', filename=category + '/largest/' + image) }}" class="btn btn-primary" download>Download Largest</a>
                <a href="{{ url_for('uploaded_file', filename=category + '/medium/' + image) }}" class="btn btn-secondary" download>Download Medium</a>
            </div>
        </div>
    </div>
    {% else %}
    <p>No images in this category.</p>
    {% endfor %}
</div>
{% endblock %}
